<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="edu.casetools.dcase.module.impl.DCaseModule" binaryversion="3.7.00" version="${project.version}" schema-level="2" uid="3c0ff0e0-6c77-4298-bd2d-d54abb2f93f5">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/jdom2-2.0.6.jar"/>
        <PathEntry path="lib/contextmodeller-0.2.0.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
        <PathEntry path="lib/rcase-0.4.3.jar"/>
        <PathEntry path="lib/javapoet-1.8.0.jar"/>
        <PathEntry path="lib/m2nusmv-0.2.3.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="3ad34a80-8df8-404a-8ff1-c7599b89f39b" id="dcase">
            <Stereotype name="ReasoningDiagramStereotype" metaclass="StaticDiagram" is-hidden="false" label="%ReasoningDiagramStereotype.label" uid="6154a253-ea33-4a49-b7d4-4d12acfff976">
                <Icon path="res/icons/reasoning/reasoning_diagram_16.png"/>
                <Image path="res/icons/reasoning/reasoning_diagram_16.png"/>
                <TagTypes>
                    <TagType name="TagExecutionTime" uid="9aa00951-9869-499d-afa5-b04de5acb6c4" label="%ReasoningDiagramStereotype.properties.ExecutionTime" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="StateStereotype" metaclass="Class" is-hidden="false" label="%StateStereotype.label" uid="b506e386-cb84-42a1-b19d-49dbb5a18540">
                <Icon path="res/icons/reasoning/elements/state_16.png"/>
                <Image path="res/icons/reasoning/elements/state_32.png"/>
                <TagTypes>
                    <TagType name="TagStateId" uid="ae51d5d2-e151-42ca-a557-c7ef6fdcfe0e" label="%StateStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagStateName" uid="9a595946-8a33-419f-8751-4de45141c20a" label="$StateStereotype.properties.state" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagStateDescription" uid="1b491c2c-b6d4-42ce-a365-14ad6605eb46" label="$StateStereotype.properties.description" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="ContextStateStereotype" metaclass="Class" is-hidden="false" label="%ContextStateStereotype.label" uid="f044b21a-4d82-4e50-9925-e6af0ec92295">
                <Icon path="res/icons/reasoning/elements/context_state_16.png"/>
                <Image path="res/icons/reasoning/elements/context_state_16.png"/>
                <TagTypes>
                    <TagType name="TagStateIndpendent" uid="ce140ef3-0e6c-4a31-ab35-3b9edc49d648" label="%StateStereotype.properties.independent" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagStateInitial" uid="5961398c-4ae6-4bfa-a1d6-5f39f3d77f01" label="$StateStereotype.properties.initial" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagStateBooleanValue" uid="be649e51-a4c5-4238-ba82-a9daab8b3306" label="$StateStereotype.properties.value" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="InternalTimeStateStereotype" metaclass="Class" is-hidden="false" label="%InternalTimeStateStereotype.label" uid="e90c6b49-b2ec-4814-8404-9110d8832b8b">
                <Icon path="res/icons/reasoning/elements/internal_time_16.png"/>
                <Image path="res/icons/reasoning/elements/internal_time_16.png"/>
                <TagTypes>
                    <TagType name="TagStateTimeType" uid="7e828c91-d221-4ff6-b800-b601a3953762" label="%StateStereotype.properties.timeType" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagStateTimeDomain" uid="3dc8d76b-37c9-4968-acc7-747619b3ebf5" label="$StateStereotype.properties.timeDomain" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagStateTimeValue" uid="cf8f8bba-0f4f-49f5-8e0f-54272e47eda9" label="$StateStereotype.properties.value" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="AntecedentGroupStereotype" metaclass="Package" is-hidden="false" label="%AntecedentGroupStereotype.label" uid="f88594e0-4b76-49de-af7f-307282c9f5de">
                <Icon path="res/icons/reasoning/elements/antecedent_group_16.png"/>
                <Image path="res/icons/reasoning/elements/antecedent_group_64.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="AntecedentStereotype" metaclass="Class" is-hidden="false" label="%AntecedentStereotype.label" uid="847fba72-b841-4a9b-ba29-f3ce45ea6b3b">
                <Icon path="res/reasoning/elements/icons/antecedent_16.png"/>
                <Image path="res/reasoning/elements/icons/antecedent_16.png"/>
                <TagTypes>
                    <TagType name="TagAntecedentName" uid="dc9a616a-b06e-42ad-8ebc-7056562e62c4" label="%AntecedentStereotype.properties.state" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagAntecedentValue" uid="284eaec6-7709-4338-8a8e-a247e80f1403" label="$AntecedentStereotype.properties.value" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="ConsequentStereotype" metaclass="Class" is-hidden="false" label="%ConsequentStereotype.label" uid="90c10322-a899-4adf-b2c3-ebfa3fa4d4c9">
                <Icon path="res/icons/reasoning/elements/consequent_16.png"/>
                <Image path="res/icons/reasoning/elements/consequent_16.png"/>
                <TagTypes>
                    <TagType name="TagConsequentName" uid="6798fd29-9ea4-45df-a02f-77c5d006c859" label="%ConsequentStereotype.properties.state" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagConsequentValue" uid="2aa941a5-713e-40bc-bc90-e2a554183f0b" label="$ConsequentStereotype.properties.value" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="EventMessageStereotype" metaclass="Class" is-hidden="false" label="%EventMessageStereotype.label" uid="09d9a59c-ae7e-480b-a2fe-26694827bf54">
                <Icon path="res/icons/reasoning/elements/consequent_16.png"/>
                <Image path="res/icons/reasoning/elements/consequent_16.png"/>
                <TagTypes>
                    <TagType name="TagEMId" uid="8ff1624b-2712-495d-95bb-07de00969ed6" label="%EventMessageStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagEMStateName" uid="c1047b0b-de34-44ab-b26c-efeafc92563f" label="%EventMessageStereotype.properties.state" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagEMStateValue" uid="df182182-de92-457f-9d81-0c1fbc2e0718" label="$EventMessageStereotype.properties.value" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagEMTime" uid="1e2f6d82-a922-4eac-a505-52c6659d7938" label="$EventMessageStereotype.properties.time" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="PastOperatorStereotype" metaclass="Class" is-hidden="false" label="%PastOperatorStereotype.label" uid="8d90834f-66fc-41c3-86ea-27652123d22a">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes>
                    <TagType name="TagOperatorId" uid="a83112a4-2733-413f-8e2d-75e939ce71b9" label="%PastOperatorStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagOperatorType" uid="7884cadb-dd59-41bf-ba2e-93f1ed4cff75" label="%PastOperatorStereotype.properties.type" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagOStateName" uid="4ed11d56-8ff1-4d90-947f-773b3670e874" label="$PastOperatorStereotype.properties.state" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagOStateValue" uid="7dc7729e-2dba-437e-92ba-ed5dae9f0ba6" label="$PastOperatorStereotype.properties.value" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="ImmediatePastOperatorStereotype" metaclass="Class" is-hidden="false" label="%ImmediatePastOperatorStereotype.label" uid="a49e00c7-8102-46ec-af9f-422b5d19a97d">
                <Icon path="res/icons/reasoning/elements/immediate_16.png"/>
                <Image path="res/icons/reasoning/elements/immediate_16.png"/>
                <TagTypes>
                    <TagType name="TagBound" uid="b14b46e3-2d91-42a4-a916-84d3ec87d75b" label="$ImmediatePastOperatorStereotype.properties.bound" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="AbsolutePastOperatorStereotype" metaclass="Class" is-hidden="false" label="%AbsolutePastOperatorStereotype.label" uid="b3ad2321-46a7-463a-ba7f-b60f82e40c37">
                <Icon path="res/icons/reasoning/elements/absolute_16.png"/>
                <Image path="res/icons/reasoning/elements/absolute_16.png"/>
                <TagTypes>
                    <TagType name="TagLowBound" uid="383a7f35-f28e-4089-b40c-12beb6be4f62" label="$AbsolutePastOperatorStereotype.properties.lowbound" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagUppBound" uid="d55233cf-043e-40fc-b273-dcd5c8dd6494" label="$AbsolutePastOperatorStereotype.properties.uppbound" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="SpecificationSetStereotype" metaclass="Package" is-hidden="false" label="%SpecificationSetStereotype.label" uid="b05ce34e-a392-4595-a6e9-a62ac73b7ed7">
                <Icon path="res/icons/reasoning/elements/spec_set_16.png"/>
                <Image path="res/icons/reasoning/elements/spec_set_16.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="SpecificationStereotype" metaclass="Class" is-hidden="false" label="%SpecificationStereotype.label" uid="79f54ab4-7e5c-4936-b794-bbf1629a73e4">
                <Icon path="res/icons/reasoning/elements/spec_16.png"/>
                <Image path="res/icons/reasoning/elements/spec_64.png"/>
                <TagTypes>
                    <TagType name="TagSpecType" uid="707b3a2f-221c-4b30-853f-6b82e396bde0" label="%SpecificationStereotype.properties.SpecificationType" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagSpec" uid="818ac013-fd0d-49a8-b865-d3a12d54c044" label="%SpecificationStereotype.properties.Specification" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="SameTimeStereotype" metaclass="Dependency" is-hidden="false" label="%SameTimeStereotype.label" uid="0bdf2349-ff7f-4e8f-a439-b0aca9b69fe5">
                <Icon path="res/icons/reasoning/elements/str_16.png"/>
                <Image path="res/icons/reasoning/elements/str_16.png"/>
                <TagTypes>
                    <TagType name="STId" uid="40b90b45-0fa2-408c-97d0-76b22eaa6e17" label="%SameTimeStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="NextTimeStereotype" metaclass="Dependency" is-hidden="false" label="%NextTimeStereotype.label" uid="d2a2ca9f-0197-44b6-8a12-c5d9e271c48f">
                <Icon path="res/icons/reasoning/elements/ntr_16.png"/>
                <Image path="res/icons/reasoning/elements/ntr_16.png"/>
                <TagTypes>
                    <TagType name="NTId" uid="b612539b-a234-44e5-a93b-03aadaa87a19" label="%NextTimeStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="ProduceStereotype" metaclass="Dependency" is-hidden="false" label="%ProduceStereotype.label" uid="646d8bd2-6d16-4ea5-a9d1-45ef01aceac6">
                <Icon path="%ProduceStereotype.image"/>
                <Image path="%ProduceStereotype.image"/>
                <TagTypes/>
                <NoteTypes/>
            </Stereotype>
            <Stereotype name="ConsumeStereotype" metaclass="Dependency" is-hidden="false" label="%ConsumeStereotype.label" uid="68fa3182-ba54-4c49-a402-ef307736d75e">
                <Icon path="%ConsumeStereotype.image"/>
                <Image path="%ConsumeStereotype.image"/>
                <TagTypes/>
                <NoteTypes/>
            </Stereotype>
            <Stereotype name="GenericContextStereotype" metaclass="Class" is-hidden="false" label="%GenericContextStereotype.label" uid="47e5a553-be68-4bbb-9b1d-8215e2a2349b">
                <Icon path="res/icons/generic_16.png"/>
                <Image path="res/icons/generic_16.png"/>
                <TagTypes>
                    <TagType name="TagContextType" uid="55fe5203-2845-4f37-8504-15b2d0074663" label="%GenericContextStereotype.properties.contexttype" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="ACLContextStereotype" metaclass="Class" is-hidden="false" label="%ACLContextStereotype.label" uid="fbbabc50-3efb-412f-b7dc-216d40ef3da2">
                <Icon path="res/icons/acl_stereotype_16.png"/>
                <Image path="res/icons/acl_stereotype_64.png"/>
                <TagTypes>
                    <TagType name="ACLTagId" uid="06f58260-5368-4e6f-86fb-ba49aa2d849f" label="%ACLContextStereotype.properties.id" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagResponsibility" uid="8a60b3dd-1504-4ad1-b02c-91c88e531389" label="%ACLContextStereotype.properties.responsibility" parameter-card="2" is-hidden="false" is-signed="false"/>
                    <TagType name="TagFrequency" uid="7babf2ed-dae7-4d3c-aa3e-b7358e0b8995" label="%ACLContextStereotype.properties.frequency" parameter-card="1" is-hidden="false" is-signed="false"/>
                    <TagType name="TagLibType" uid="cd52cf7a-f9e2-4289-b6a2-9f6d8fd408c7" label="%ACLContextStereotype.properties.libType" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="InformationDisplayDiagramStereotype" metaclass="StaticDiagram" is-hidden="false" label="%InformationDisplayDiagramStereotype.label" uid="f257742d-141f-4bc7-916f-ae290c3985a7">
                <Icon path="res/icons/info/info_diagram_16.png"/>
                <Image path="res/icons/info/info_diagram_16.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="MessageInterfaceStereotype" metaclass="Class" is-hidden="false" label="%MessageInterfaceStereotype.label" uid="">
                <Icon path="res/icons/info/elements/interface_16.png"/>
                <Image path="res/icons/info/elements/interface_16.png"/>
                <TagTypes/>
            </Stereotype>    
            <Stereotype name="AndroidMessageInterfaceStereotype" metaclass="Class" is-hidden="false" label="%AndroidMessageInterfaceStereotype.label" uid="">
                <Icon path="res/icons/info/elements/android_interface_16.png"/>
                <Image path="res/icons/info/elements/android_interface_16.png"/>
                <TagTypes/>
            </Stereotype>    
            <Stereotype name="JavaMessageInterfaceStereotype" metaclass="Class" is-hidden="false" label="%AndroidMessageInterfaceStereotype.label" uid="">
                <Icon path="res/icons/info/elements/java_interface_16.png"/>
                <Image path="res/icons/info/elements/java_interface_16.png"/>
                <TagTypes/>
            </Stereotype>      
            <Stereotype name="MessageStereotype" metaclass="Class" is-hidden="false" label="%MessageStereotype.label" uid="">
                <Icon path="res/icons/info/elements/message_16.png"/>
                <Image path="res/icons/info/elements/message_16.png"/>
                <TagTypes/>
            </Stereotype>    
            <Stereotype name="InfoStereotype" metaclass="Class" is-hidden="false" label="%InfoStereotype.label" uid="">
                <Icon path="res/icons/info/elements/info_16.png"/>
                <Image path="res/icons/info/elements/info_16.png"/>
                <TagTypes/>
            </Stereotype>   
            <Stereotype name="OptionListStereotype" metaclass="Class" is-hidden="false" label="%OptionListStereotypeStereotype.label" uid="">
                <Icon path="res/icons/info/elements/list_16.png"/>
                <Image path="res/icons/info/elements/list_16.png"/>
                <TagTypes/>
            </Stereotype>         
            <Stereotype name="ListItemStereotype" metaclass="Class" is-hidden="false" label="%ListItemStereotypeStereotype.label" uid="">
                <Icon path="res/icons/info/elements/list_item_16.png"/>
                <Image path="res/icons/info/elements/list_item_16.png"/>
                <TagTypes/>
            </Stereotype>                                                    
            <MetaclassReference uid="d37c757d-7036-4b89-aaa2-4e91f36b80d3" metaclass="ModelElement"/>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="CreateInfoDisplayDiagram" label="%CreateInfoDisplayDiagram.label" tooltip="%CreateInfoDisplayDiagram.tooltip" image="%CreateInfoDisplayDiagram.image" group="%CreateInfoDisplayDiagram.group" modify-model="true" group-image="%CreateInfoDisplayDiagram.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.dcase.modelio.menu.diagrams.CreateInfoDisplayDiagram"/>
            </Command>
            <Command id="CreateReasoningDiagram" label="%CreateReasoningDiagram.label" tooltip="%CreateReasoningDiagram.tooltip" image="%CreateReasoningDiagram.image" group="%CreateReasoningDiagram.group" modify-model="true" group-image="%CreateReasoningDiagram.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.dcase.modelio.menu.diagrams.CreateReasoningDiagram"/>
            </Command>
            <Command id="GenerateNuSMV" label="%GenerateNuSMV.label" tooltip="%GenerateNuSMV.tooltip" image="%GenerateNuSMV.image" group="%GenerateNuSMV.group" modify-model="true" group-image="%GenerateNuSMV.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.dcase.modelio.menu.io.GenerateNuSMV"/>
            </Command>
            <Command id="GenerateACLCode" label="%GenerateACLCode.label" tooltip="%GenerateACLCode.tooltip" image="%GenerateACLCode.image" group="%GenerateACLCode.group" modify-model="true" group-image="%GenerateACLCode.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.dcase.modelio.menu.io.GenerateACLCode"/>
            </Command>
            <Command id="GenerateMCode" label="%GenerateMCode.label" tooltip="%GenerateMCode.tooltip" image="%GenerateMCode.image" group="%GenerateMCode.group" modify-model="true" group-image="%GenerateMCode.groupimage">
                <Scope metaclass="ModelTree"/>
                <Handler class="edu.casetools.dcase.modelio.menu.io.GenerateM"/>
            </Command>
        </Commands>
        <Tools>
            <Tool id="ContextStateTool" label="%ContextStateTool.label" tooltip="%ContextStateTool.tooltip" image="%ContextStateTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.ContextStateTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="ContextStateStereotype"/>
                </Handler>
            </Tool>
            <Tool id="InternalTimeStateTool" label="%InternalTimeStateTool.label" tooltip="%InternalTimeStateTool.tooltip" image="%InternalTimeStateTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.InternalTimeStateTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="InternalTimeStateStereotype"/>
                </Handler>
            </Tool>
            <Tool id="AntecedentGroupTool" label="%AntecedentGroupTool.label" tooltip="%AntecedentGroupTool.tooltip" image="%AntecedentGroupTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.AntecedentGroupTool">
                    <HParameter name="metaclass" value="Package"/>
                    <HParameter name="stereotype" value="AntecedentGroupStereotype"/>
                </Handler>
            </Tool>
            <Tool id="AntecedentTool" label="%AntecedentTool.label" tooltip="%AntecedentTool.tooltip" image="%AntecedentTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.AntecedentTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="AntecedentStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ConsequentTool" label="%ConsequentTool.label" tooltip="%ConsequentTool.tooltip" image="%ConsequentTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.ConsequentTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="ConsequentStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ImmediatePastOperatorTool" label="%ImmediatePastOperatorTool.label" tooltip="%ImmediatePastOperatorTool.tooltip" image="%ImmediatePastOperatorTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.ImmediatePastOperatorTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="ImmediatePastOperatorStereotype"/>
                </Handler>
            </Tool>
            <Tool id="AbsolutePastOperatorTool" label="%AbsolutePastOperatorTool.label" tooltip="%AbsolutePastOperatorTool.tooltip" image="%AbsolutePastOperatorTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.AbsolutePastOperatorTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="AbsolutePastOperatorStereotype"/>
                </Handler>
            </Tool>
            <Tool id="SpecificationSetTool" label="%SpecificationSetTool.label" tooltip="%SpecificationSetTool.tooltip" image="%SpecificationSetTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.SpecificationSetTool">
                    <HParameter name="metaclass" value="Package"/>
                    <HParameter name="stereotype" value="SpecificationSetStereotype"/>
                </Handler>
            </Tool>
            <Tool id="SpecificationTool" label="%SpecificationTool.label" tooltip="%SpecificationTool.tooltip" image="%SpecificationTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.elements.SpecificationTool">
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="SpecificationStereotype"/>
                </Handler>
            </Tool>
            <Tool id="SameTimeTool" label="%SameTimeTool.label" tooltip="%SameTimeTool.tooltip" image="%SameTimeTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.relations.SameTimeTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="SameTimeStereotype"/>
                </Handler>
            </Tool>
            <Tool id="NextTimeTool" label="%NextTimeTool.label" tooltip="%NextTimeTool.tooltip" image="%NextTimeTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.relations.NextTimeTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="NextTimeStereotype"/>
                </Handler>
            </Tool>
            <Tool id="ProduceTool" label="%ProduceTool.label" tooltip="%ProduceTool.tooltip" image="%ProduceTool.image">
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.tools.relations.ProduceTool">
                    <HParameter name="metaclass" value="Dependency"/>
                    <HParameter name="stereotype" value="ProduceStereotype"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="CreateInfoDisplayDiagram"/>
            <CommandRef refid="GenerateACLCode"/>
            <CommandRef refid="CreateReasoningDiagram"/>
            <CommandRef refid="GenerateNuSMV"/>
            <CommandRef refid="GenerateMCode"/>
        </ContextualMenu>
        <Diagrams>
            <DiagramType base-diagram="StaticDiagram" stereotype="ReasoningDiagramStereotype">
                <Palette keepBasePalette="false"/>
                <Handler class="edu.casetools.dcase.modelio.diagrams.reasoning.ReasoningDiagramCustomizer"/>
            </DiagramType>
            <DiagramType base-diagram="StaticDiagram" stereotype="InformationDisplayDiagramStereotype">
                <Palette keepBasePalette="false"/>
                <Handler class="edu.casetools.dcase.modelio.diagrams.info.InfoDisplayDiagramCustomizer"/>
            </DiagramType>
        </Diagrams>
        <Views>
            <PropertyPage id="DCasePropertyPage" class="edu.casetools.dcase.modelio.properties.DCasePropertyPage" label="%PropertyPage.label" image="%PropertyPage.image"/>
        </Views>
    </Gui>
    <Dependencies/>
</Module>
